{% extends "views/layout.html" %}

{% block bodyOpen %}<body class="about">{% endblock %}

{% block navItems %}
  <ul class="nav navbar-nav">
    <li class="active"><a href="/about">About</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/resources">Resources</a></li>
  </ul>
{% endblock %}

{% block mainContent %}

  <div class="big-section" id="how-we-work">
    <div class="container">
      <div class="row header">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h1>How We Work</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <ol>
            <li>
              You <a href="/#form-section">tell us what you need</a>.
            </li>
            <li>
              We'll triage your request and respond ASAP.
            </li>
            <li>
              If we can accommodate your request, here is <a href="https://mofocomms.etherpad.mozilla.org/ProjectProcess?">the process we'll use</a>.
            </li>
            <li>
              We'll have a consultation meeting and fill out <a href="https://mofocomms.etherpad.mozilla.org/ProjectScopeTemplate">this scoping form</a> together.
            </li>
            <li>
              Bugs will be filed. Progress will be tracked through hilarious gifs.
            </li>
            <li>
              Voilà! Your request will be fulfilled and may grace the pages of <a href="/projects#portfolio">our portfolio</a>.
            </li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-3 text-center">
          <p>
            <i class="fa fa-file-text-o"></i>
            <a href="https://mofocomms.etherpad.mozilla.org/ProjectProcess">Project Process</a>
          </p>
        </div>
        <div class="col-md-3 text-center">
          <p>
            <i class="fa fa-file-text-o"></i>
            <a href="https://mofocomms.etherpad.mozilla.org/ProjectProcessTemplate"> Project Process Template</a>
          </p>
        </div>
      </div>
    </div>
  </div>


  <div id="who-are-we" class="big-section">
    <div class="container">
      <div class="row header">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h1>Who We Are</h1>
          <h2>Studio Mofo is a 3-person writing, design and dev team that lives within the Mozilla Foundation Engagement Team.</h2>
        </div>
      </div>
    </div>
    <div class="member">
      <div class="container">
        <div class="row intro">
          <div class="col-md-12">
            <div class="avatar"><img src="img/erika.jpg" alt="Photo of Erika Drushka"></div>
            <h1 class="name">Erika Drushka</h1>
            <p class="title">Copywriter</p>
          </div>
        </div>
        <div class="row favourite">
          <div class="col-md-6 col-md-offset-3">
             <p>
              Here is Erika's <a href="https://www.dropbox.com/s/b7syopbaz3apvba/hello.jpg">very favourite picture</a>. She can't watch <a href="http://vimeo.com/31158841">this video of birds</a> without choking up just a little. And she has passed many pleasant hours with <a href="http://tonematrix.audiotool.com/">this music maker</a>. Enjoy!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="member">
      <div class="container">
        <div class="row intro">
          <div class="col-md-12">
            <div class="avatar"><img src="img/sabrina.jpg" alt="Photo of Sabrina Ng"></div>
            <h1 class="name">Sabrina Ng</h1>
            <p class="title">Designer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="member">
      <div class="container">
        <div class="row intro">
          <div class="col-md-12">
            <div class="avatar"><img src="img/mavis.jpg" alt="Photo of Mavis Ou"></div>
            <h1 class="name">Mavis Ou</h1>
            <p class="title">Developer</p>
          </div>
        </div>
        <div class="row favourite">
          <div class="col-md-6 col-md-offset-3">
            <p>
              This is Mavis's <a href="https://www.youtube.com/watch?v=9gPktcV0A-g">favourite prank video</a>.  It's not hard to tell what her <a href="">favourite colour shades</a> are. [ one more sentence to come ]
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
