{% extends "views/layout.html" %}

{% block bodyOpen %}<body class="about">{% endblock %}

{% block navItems %}
  <ul class="nav navbar-nav">
    <li class="active"><a href="/about">About</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/resources">Resources</a></li>
  </ul>
{% endblock %}

{% block mainContent %}
  <div id="who-are-we" class="big-section">
    <div class="row header">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>Who We Are</h2>
        <p>We are Studio MoFo.  A trio that drafts, designs, and develops for the Mozilla Foundation.</p>
      </div>
    </div>
    <div class="member">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="name">Erika Drushka</h2>
            <p class="title">Copywriter</p>
          </div>
        </div>
      </div>
    </div>
    <div class="member">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="name">Sabrina Ng</h2>
            <p class="title">Designer</p>
          </div>
        </div>
      </div>
    </div>
    <div class="member">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="name">Mavis Ou</h2>
            <p class="title">Developer</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="big-section">
    <div class="row header">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>What We Do</h2>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="col-md-6 text-center">
          <p>
            <a href="https://mofocomms.etherpad.mozilla.org/ProjectProcess">ProjectProcess</a>
          </p>
        </div>
        <div class="col-md-6 text-center">
          <p>
            <a href="https://mofocomms.etherpad.mozilla.org/ProjectProcessTemplate"> ProjectProcessTemplate</a>
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
