{% extends "views/layout.html" %}

{% block bodyOpen %}<body class="home">{% endblock %}

{% block tagline %}
<div id="tagline">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <p>We draft, design and develop graphic assets, websites and engagement strategies for the Mozilla Foundation. <a href="#form-section">Tell us what you need.</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block mainContent %}
  <div id="viz-section" class="big-section">
    <div class="container">
      <div class="row header">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1 class="text-center">MoFo 2015 Engagement Calendar</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="viz">
      <div class="centered-container">
        <!-- left container ===  -->
        <div id="left-container">
        <div id="description-box">
          <h4 id="event-title"></h4>
          <ul id="event-details">
            <li class="desktop-instruction"><i class="fa fa-arrow-right fa-5"></i></li>
            <li class="desktop-instruction">Click on the dots to read more information about each event.</li>
            <li>Expand or minimize each engagement tier by clicking the tier number in the first column.</li>
            <li>To add your event to this calendar, <a href="mailto: hannah@mozillafoundation.org">email Hannah Kane</a>.</li>
          </ul>
        </div>
        <div id="tier-description">
          <ul>
            <li>
              <span class="tier-number tier-1">Tier 1:</span>
              Mozilla full-court press, including Firefox channels and snippet.
            </li>
            <li>
              <span class="tier-number tier-2">Tier 2:</span>
              One Mozilla, including Mozilla blog and socials media channels, but not the snippet or Firefox channels.
            </li>
            <li>
              <span class="tier-number tier-3">Tier 3:</span>
              All Foundation audiences via our networks, social media and email lists.
            </li>
            <li>
              <span class="tier-number tier-4">Tier 4:</span>
              Project or region-specific communication, freely employed at the discretion of each team.
            </li>
          </ul>
          </div>
        </div>
        <!-- right container ===  -->
        <div id="right-container">
          <div id="viz-container">
            <div id="calendar-viz-tier">
            </div>
            <table id="calendar-viz">
              <thead>
                <tr>
                  <th colspan="13">
                    <div id="mozilla-arc" class="arc">Mozilla</div>
                    <div id="privacy-arc-1" class="arc">Privacy</div>
                    <div id="education-arc" class="arc">Education</div>
                    <div id="privacy-arc-2" class="arc">Privacy</div>
                    <div id="eoy-arc" class="arc">EOY</div>
                  </th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div id="form-section" class="big-section">
    <div class="container">
      <div class="row header">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h1>Project Request Form</h1>
          <h2>Tell us what you need.</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <form id="request-form" action="/requestForm" method="post" role="form">
            <label for="requester-name" class="hidden">Your Name</label>
            <input id="requester-name" class="form-control" type="text" maxlength="50" size="100" name="name" placeholder="What's your name?" required />
            <label for="requester-team" class="hidden">Which team are you on?</label>
            <input id="requester-team" class="form-control" type="text" maxlength="50" size="100" name="team" placeholder="What team are you on?" required />
            <label for="request-deadline" class="hidden">Deadline</label>
            <input id="request-deadline" class="form-control" type="text" name="deadline" placeholder="Deadline: Date & Reason" required>
            <label for="request-summary" class="hidden">Summary</label>
            <textarea id="request-summary" class="form-control" name="summary" cols="100" rows="5" maxlength="140" placeholder="Briefly describe how we can help you (140 characters or less)" required></textarea>
            <div id="new-tweet">
              <input id="request-need-tweet" type="checkbox" name="needTweet" /><i class="fa fa-twitter"></i>Does this need a tweet from <a href="https://twitter.com/mozilla">@Mozilla</a>?
            </div>
            <label for="request-tweet" class="hidden">Tweet</label>
            <textarea id="request-tweet" class="form-control hidden" type="text" name="tweet" cols="100" rows="5" maxlength="140" placeholder="Tweet (140 characters or less)"></textarea>
            <input type="submit" value="Submit" class="btn btn-default" />
          </form>
          <p>Questions? Email us anytime at <a href="mailto:studiomofo@mozillafoundation.org">studiomofo@mozillafoundation.org</a></p>
          <p>
            Curious about what we’re working on? See our current projects <a href="/projects">here</a>.
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block extraJS %}
<script src="js/viz.js"></script>
{% endblock %}
