<!doctype html>
<html>
<head>
    <title>Studio MoFo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" rel="stylesheet" />
    <link rel="stylesheet" href="compiled/style.min.css">
  </head>
{% block bodyOpen %}
<body>
{% endblock %}
  <main role="main">
    <div class="container">
      <a href="https://www.mozilla.org/" id="tabzilla">mozilla</a>
    </div>
    {% block banner %}
      <div class="row">
      <header id="logo-banner" class="text-center col-md-4 col-md-offset-4">
        <div class="circle"></div>
        <div id="logo-text">
          <h1>Help a <br/> Mofo Out</h1>
          <p>DRAFT &#8226; DESIGN &#8226; DEVELOP</p>
        </div>
      </header>
    </div>
    {% endblock %}
    {% block mainContent %}
    {% endblock %}
  </main>
  <footer>
  </footer>

  <script src="config.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/js/collapse.js"></script>
  <script src="http://mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>

  <script src="js/ui.js"></script>
</body>
</html>
