<!doctype html>
<html>
<head>
    <title>Studio MoFo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="compiled/style.min.css">
  </head>
{% block bodyOpen %}
<body>
{% endblock %}
  <nav class="navbar navbar-default navbar-no-header-xs" id="studiomofo-nav">
    <div id="logo">
      <a href="/"><i class="fa fa-heart f3"></i>STUDIO MOFO</a>
    </div>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#studiomofo-nav-list">
        <span class="fa fa-bars fa-lg"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="studiomofo-nav-list">
      {% block navItems %}
      <ul class="nav navbar-nav">
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/resources">Resources</a></li>
      </ul>
      {% endblock %}
    </div>
  </nav>

  <main role="main">
    {% block tagline %}
    {% endblock %}

    {% block mainContent %}
    {% endblock %}
  </main>
  <footer>
  </footer>

  <script src="config.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/js/collapse.js"></script>

  <script src="js/ui.js"></script>
  {% block extraJS %}
  {% endblock %}
</body>
</html>
