{% extends "views/layout.html" %}

{% block bodyOpen %}<body class="projects">{% endblock %}

{% block navItems %}
  <ul class="nav navbar-nav">
    <li><a href="/about">About</a></li>
    <li class="active"><a href="/projects">Projects</a></li>
    <li><a href="/resources">Resources</a></li>
  </ul>
{% endblock %}

{% block mainContent %}

  <div class="big-section" id="bug-list">
    <div class="container">
      <div class="row header">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h1>We've Got Bugs</h1>
          <h2>Here's what we have on our plate at the moment.</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>SUMMARY</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="big-section" id="portfolio">
    <div class="container">
      <div class="row header">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h1>We Made This!</h1>
          <h2>Please take a peek at some of the projects we've recently completed.</h2>
        </div>
      </div>
      <div class="row project">
        <div class="col-md-3">
          <div class="thumbnail">
            <a href="http://party.webmaker.org/">
              <img src="img/portfolio/MakerParty_Website.jpg" alt="Maker Party site thumbnail">
            </a>
          </div>
          <div class="title">
            <a href="http://party.webmaker.org/">
              <h4>Maker Party site</h4>
            </a>
            <p>design & build</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <a href="http://www.mozilla.org/en-US/gigabit/">
              <img src="img/portfolio/Gigabit_Website.jpg" alt="Gigabit site thumbnail">
            </a>
          </div>
          <div class="title">
            <a href="http://www.mozilla.org/en-US/gigabit/">
              <h4>Gigabit site</h4>
            </a>
            <p>design & build</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <a href="https://appmaker.mozillalabs.com/">
              <img src="img/portfolio/Appmaker_Website.jpg" alt="Appmaker site thumbnail">
            </a>
          </div>
          <div class="title">
            <a href="https://appmaker.mozillalabs.com/">
              <h4>Appmaker site</h4>
            </a>
            <p>design & build</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <a href="https://bug965980.bugzilla.mozilla.org/attachment.cgi?id=8378651">
              <img src="img/portfolio/DML_ScienceFair_WebBanner.jpg" alt="DML banner thumbnail">
            </a>
          </div>
          <div class="title">
            <a href="https://bug965980.bugzilla.mozilla.org/attachment.cgi?id=8378651">
              <h4>DML web & print banner</h4>
            </a>
            <p>design</p>
          </div>
        </div>
      </div>
      <div class="row project">
        <div class="col-md-3">
          <div class="thumbnail">
            <a href="https://www.dropbox.com/s/ylw15flhae33nub/dml_postcard_savethedate2014_5x7.pdf">
              <img src="img/portfolio/DMLSaveTheDate_Postcard.jpg" alt="Save the Date postcard thumbnail">
            </a>
          </div>
          <div class="title">
            <a href="https://www.dropbox.com/s/ylw15flhae33nub/dml_postcard_savethedate2014_5x7.pdf">
              <h4>Save the Date postcard</h4>
            </a>
            <p>design</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <a href="/#viz-section">
              <img src="img/portfolio/EngagementCalendar_Vizualization.jpg" alt="Engagement calendar app thumbnail">
            </a>
          </div>
          <div class="title">
            <a href="/#viz-section">
              <h4>Engagement calendar app</h4>
            </a>
            <p>design & build</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <a href="https://www.dropbox.com/sh/ar62saes1gwjlk3/VI60iwBF5h/Badgekit_FAQ_Print_nobleedsinglepage_v2.pdf">
              <img src="img/portfolio/BadgekitFAQ_Handout.jpg" alt="">
            </a>
          </div>
          <div class="title">
            <a href="https://www.dropbox.com/sh/ar62saes1gwjlk3/VI60iwBF5h/Badgekit_FAQ_Print_nobleedsinglepage_v2.pdf">
              <h4>BadgeKit printed FAQ</h4>
            </a>
            <p>design</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="thumbnail">
            <a href="https://www.dropbox.com/s/8pynm9t7y0tfky9/sciencelab_softwarecarpentry_banner.pdf">
              <img src="img/portfolio/ScienceLabSoftwareCarpentry_StandingBanner.jpg" alt="">
            </a>
          </div>
          <div class="title">
            <a href="https://www.dropbox.com/s/8pynm9t7y0tfky9/sciencelab_softwarecarpentry_banner.pdf">
              <h4>Science Lab & SC Banner</h4>
              <p>design</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
