{% extends "views/layout.html" %}

{% block bodyOpen %}<body class="services">{% endblock %}

{% block navItems %}
  <ul class="nav navbar-nav">
    <li><a href="/projects">Projects</a></li>
    <li class="active"><a href="/services">Services</a></li>
    <li><a href="/resources">Resources</a></li>
  </ul>
{% endblock %}


{% block mainContent %}

  <div id="who-are-we" class="big-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <h5>Who is Studio MoFo</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="avatar"><img src="/img/erika.jpg" alt="Photo of Erika Drushka"></div>
          <p class="name">Erika Drushka</p>
          <p class="title">Copywriter</p>
        </div>
        <div class="col-md-4 text-center">
          <div class="avatar"><img src="/img/sabrina.jpg" alt="Photo of Sabrina Ng"></div>
          <p class="name">Sabrina Ng</p>
          <p class="title">Designer</p>
        </div>
        <div class="col-md-4 text-center">
          <div class="avatar"><img src="/img/mavis.jpg" alt="Photo of Mavis Ou"></div>
          <p class="name">Mavis Ou</p>
          <p class="title">Developer</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="big-section-divider">
    </div>
  </div>

  <div class="big-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <h5>= FIXME = explanation of our process</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-md-offset-3 text-center">
          <p>
            <a href="https://mofocomms.etherpad.mozilla.org/ProjectProcess">= FIXME = ProjectProcess</a>
          </p>
        </div>
        <div class="col-md-3 text-center">
          <p>
            <a href="https://mofocomms.etherpad.mozilla.org/ProjectProcessTemplate">= FIXME = ProjectProcessTemplate</a>
          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
