<!DOCTYPE html>
<html>
  <head>
    <title>Studio MoFo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/fonts.css' />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="container">
      <a href="https://www.mozilla.org/" id="tabzilla">mozilla</a>
      <div class="row">
        <header id="logo-banner" class="text-center col-md-4 col-md-offset-4">
          <div class="circle"></div>
          <div id="logo-text">
            <h1>Help a <br/> Mofo Out</h1>
            <p>DRAFT &#8226; DESIGN &#8226; DEVELOP</p>
          </div>
        </header>
      </div>

      <main>
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <p id="thank-you-message">Thanks, {{theName}}! <br /> And We love you too!</p>
          </div>
        </div>
      </main>
      <footer>
        <script src="//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
      </footer>
    </div>
  </body>
</html>
