body{
  background: #C7C7C7;
  color: #222;
  font-family: "Open Sans Light";
}

.row{
  margin: 35px 0;
}

#logo-banner{
  height: 250px;
}

#logo-banner .circle{
  background: #555;
  /*background: #FA698B;*/
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
}

#logo-text{
  position: relative;
  top: -180px;
}

#logo-banner h1{
  margin: 0 auto;
  font-family: "Playball";
  font-size: 75px;
  color: #fff;
  margin-bottom: 40px;
  white-space: nowrap;
}

#form-section{
  border-bottom: 1px solid #fff;
  padding-bottom: 35px;
}

#request-form > *{
  max-width: 100%;
}

#request-form .form-control{
  margin-bottom: 5px;
}

#request-form input[type='submit']{
  margin-top: 15px;
  margin-bottom: 15px;
}

#who-are-we{
  text-transform: uppercase;
}

#who-are-we .avatar img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #ccc;
  margin: 20px auto;
}

#who-are-we .title{
  text-transform: none;
  font-style: italic;
  margin-top: -10px;
}

#thank-you-message,
#error-message{
  font-size: 20px;
  margin-top: 50px;
}

