body{
  /*background: #C7C7C7;*/
  /*color: #222;*/
  font-family: "Open Sans Light";
  color: #fff;
  /* background pattern credits: http://lea.verou.me/css3patterns */
  background:
    radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%),
    radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%),
    radial-gradient(circle closest-side at 40% 22%, #CC274D 45%, rgba(221,51,85,0) 46%),
    radial-gradient(circle closest-side at 60% 22%, #CC274D 45%, rgba(221,51,85,0) 46%),
    radial-gradient(circle closest-side at 50% 35%, #CC274D 30%, rgba(221,51,85,0) 31%),

    radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
    radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
    radial-gradient(circle closest-side at 40% 22%, #CC274D 45%, rgba(221,51,85,0) 46%) 50px 50px,
    radial-gradient(circle closest-side at 60% 22%, #CC274D 45%, rgba(221,51,85,0) 46%) 50px 50px,
    radial-gradient(circle closest-side at 50% 35%, #CC274D 30%, rgba(221,51,85,0) 31%) 50px 50px;
  background-color:#b03;
  background-size:100px 100px;
}

/*Valentine's Day Ed*/
a{
  color: #F5BAD8;
}

a:hover{
  color: #FAD9EA;
}

.row{
  margin: 35px 0;
}

#logo-banner{
  height: 250px;
}

#logo-banner .circle{
  /*background: #555;*/
  background: #FA698B;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
}

#logo-text{
  position: relative;
  top: -180px;
}

#logo-banner h1{
  margin: 0 auto;
  font-family: "Playball";
  font-size: 75px;
  color: #fff;
  margin-bottom: 40px;
  white-space: nowrap;
}

#form-section{
  border-bottom: 1px solid #fff;
  padding-bottom: 35px;
}

#request-form > *{
  max-width: 100%;
}

#request-form .form-control{
  margin-bottom: 5px;
}

#request-form input[type='submit']{
  margin-top: 15px;
  margin-bottom: 15px;
}

#who-are-we{
  text-transform: uppercase;
}

#who-are-we .avatar img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #ccc;
  margin: 20px auto;
}

#who-are-we .title{
  text-transform: none;
  font-style: italic;
  margin-top: -10px;
}

#thank-you-message,
#error-message{
  font-size: 20px;
  margin-top: 50px;
}

#ribbon{
  overflow: hidden;
  position: absolute;
  left: -3em;
  top: 2.5em;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#ribbon span{
  color: #666;
  background: #F7D5D8;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0;
  padding: 0.8em 3.3em;
  text-align: center;
  text-decoration: none;
}

